:root {
  --primary: #E47496;
  --primary-dark: #CB5E82;

  --secondary: #F6E3EC;        /* nude suave */
  --secondary-light: #FDF7FA;  /* casi blanco */

  --accent: #F3A8BD;

  --surface: #FFFFFF;
  --bg-soft: #FAF8F9;          /* gris-rosado muy suave */

  --gold: #D5B88A;             /* champagne */
  --gold-dark: #B79A6E;

  --text-dark: #2A2A2A;
  --text-soft: #6F6F6F;
}





